{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center mt-4">
  <h1 class="display-4">Welcome to Tanit’s Table</h1>
  <p class="lead">A taste of Tunisia in every bite, served with sacred elegance.</p>
  <a href="{% url 'booking:book_table' %}" class="btn btn-primary mt-3">Book a Table</a>
</div>


<div class="container-fluid px-0 mt-5">
  <img src="{% static 'images/Carthage-bouKornine.webp' %}" 
       alt="Carthage and Boukornine" 
       class="w-100 img-fluid shadow" 
       style="height: auto;">
</div>



{% endblock %}
